
.zoomD {
  width: 380px;
  height: 500px;
  cursor: pointer;
    text-align: center;
}

#lb-back {
  position: fixed; /* Ezt majd ki kell venni, csak még nem tudom hoa kerül maga a kép. */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}

#lb-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
#lb-img img {

  width: 800px;
  height: 1000px;
}


html, body {
  padding: 0;
  margin: 0;
}