* {
    width: 100%;
    padding: 0;
    border: 0;
}

p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h2 {
    padding-top: 2rem;
    text-align: center;
    color: lawngreen;
}

#nav {
    padding-bottom: 0;
    background-color: cyan;
    width: 100%;
}

.navbar-nav {
    text-align: center;
}

section {
    background-color: rgb(81, 96, 112);
    text-align: justify;
    color: rgb(176, 240, 245);
}

input {
    width: 100px;
}

html {
    scroll-behavior: smooth;
}

#pontozolap {
    text-align: left;
    font-size: 24px;
}

footer {
    background-color: rgb(1, 41, 51);
    color: white;
}